html{
    height: 100%;
}

body{
    height: 100%;
}

#abc{
    position: fixed;
    height: 60%;
    width: 75%;
    left: 12.5%;
    top: 20%;
}

#main{
    height: 100% !important;
    width: 100% !important;
}